<section class="full-height vhcenter">
    <form method="post">
        <div class="small-form">
            {{#error}}
                <div class="no-form-align error">{{&.}}</div>
            {{/error}}
            <div>
                <label for="username">{{username}}</label>
                <input name="username" id="username" autofocus placeholder="{{username}}" required>
            </div>
            <div>
                <label for="password">{{password}}</label>
                <input name="password" id="password" placeholder="{{password}}" type="password" required>
            </div>
            <div class="no-form-align">
                <input type="submit" value="{{login}}">
            </div>
            <div class="no-form-align">
                <p>{{forgotPassword}}</p>
            </div>
        </div>
    </form>
</section>
