<section class="vhcenter">
    <form method="post" action="/">
        <div class="small-form"> 
            <div>
                <label for="username">{{username}}</label>
                <input name="username" id="username" autofocus placeholder="{{username}}">
            </div>
            <div>
                <label for="password">{{password}}</label>
                <input name="password" id="password" placeholder="{{password}}">
            </div>
            <div class="no-form-align">
                <p>{{forgotPassword}}</p>
            </div>
        </div>
    </form>
</section>
