<section class="vhcenter">
    <form method="post" action="/">
        <div class="smallform"> 
            <div>
                <label for="login.username">{{login.username}}</label>
                <input name="login.username" id="login.username" autofocus placeholder="{{login.username}}">
            </div>
            <div>
                <label for="login.password">{{login.password}}</label>
                <input name="login.password" id="login.password" placeholder="{{login.password}}">
            </div>
            <div class="noformalign">
                <p>{{login.forgotPassword}}</p>
            </div>
        </div>
    </form>
</section>
