<h1>{{menuHeader}}</h1>
<div class="spacing">
    <button id="new-menu-item-button"><i class="material-icons small-icon">add_circle</i><span>{{newMenuItem}}</span></button>
    <button id="cancel-parent-button" style="display: none;"><i class="material-icons small-icon">cancel</i><span>{{cancelSelectParent}}</span></button>
</div>
<div class="info" id="click-parent-text" style="display: none;"><i class="material-icons">info_outline</i> {{clickParentText}}</div>
<ul id="menu-ul" class="ul {{^hasData}}no-data{{/hasData}}""></ul>
{{^hasData}}
<p id="no-data-text">{{noMenu}}</p>
{{/hasData}}
<div class="hide">
    <div id="add-modal-template">
        <p>{{modal.addText}}</p>
        <select data-value required>
            <option disabled selected value="">-{{modal.choosePage}}-</option>
            {{#pages}}
            <option value="{{id}}">{{name}}</option>
            {{/pages}}
        </select>
        <input placeholder="{{modal.itemName}}" data-value required>
        <p class="footer">
            <button class="ok" data-value="add-global">{{modal.buttons.addGlobal}}</button>
            <button class="ok" data-value="add-child">{{modal.buttons.addChild}}</button>
            <button class="cancel">{{modal.buttons.cancel}}</button>
        </p>
    </div>
    <span id="menu-item-action-template">
        <button class="menu-action" title="{{actions.edit}}"      data-action="edit">      <i class="material-icons small-icon">mode_edit</i>          </button>
        <button class="menu-action" title="{{actions.delete}}"    data-action="delete">    <i class="material-icons small-icon">delete</i>             </button>
        <button class="menu-action" title="{{actions.moveUp}}"    data-action="move-up">   <i class="material-icons small-icon">keyboard_arrow_up</i>  </button>
        <button class="menu-action" title="{{actions.moveDown}}"  data-action="move-down"> <i class="material-icons small-icon">keyboard_arrow_down</i></button>
        <button class="menu-action" title="{{actions.setParent}}" data-action="set-parent"><i class="material-icons small-icon">place</i>              </button>
    </span>
</div>
<script>var jsonData = {{&jsonData}};</script>
