<h1>{{newPageHeader}}</h1>
<div id="new-page-contents"></div>
<div id="new-page-settings"></div>
<div class="hide">
    <div id="row-header-template">
        <div class="row-header">
            <i class="material-icons column-action" data-action="remove" title="{{columnHeader.remove}}">remove_circle</i>
            <i class="material-icons column-action" data-action="move-up" title="{{columnHeader.moveUp}}">keyboard_arrow_up</i>
            <i class="material-icons column-action" data-action="move-down" title="{{columnHeader.moveDown}}">keyboard_arrow_down</i>
            <i class="material-icons column-action" data-action="switch" title="{{columnHeader.switch}}">swap_horiz</i>
            <i class="material-icons column-action" data-action="double" title="{{columnHeader.double}}">fullscreen</i>
            <i class="material-icons column-action" data-action="undouble" title="{{columnHeader.undouble}}">fullscreen_exit</i>
        </div>
    </div>
    <div id="remove-confirm-template">
        <p>{{modal.removeConfirm}}</p>
        <p class="footer">
            <button class="cancel">{{modal.buttons.no}}</button>
            <button class="ok">{{modal.buttons.yes}}</button>
        </p>
    </div>
    <div id="double-confirm-template">
        <p>{{modal.doubleConfirm}}</p>
        <p class="footer">
            <button class="cancel">{{modal.buttons.no}}</button>
            <button class="ok">{{modal.buttons.yes}}</button>
        </p>
    </div>
    <div id="row-template">
        <div class="row">
            <div class="column" data-type="">
                <select class="column-select" data-hover="init">
                    <option value="none">{{chooseColumn}}</option>
                    {{#columnTypes}}
                    <option value="{{id}}">{{name}}</option>
                    <option value="2{{id}}">2x {{name}}</option>
                    {{/columnTypes}}
                </select>
            </div>
            <div class="column" data-type="">
                <select class="column-select" data-hover="init">
                    <option value="none">{{chooseColumn}}</option>
                    {{#columnTypes}}
                    <option value="{{id}}">{{name}}</option>
                    <option value="2{{id}}">2x {{name}}</option>
                    {{/columnTypes}}
                </select>
            </div>
        </div>
    </div>
    <div id="quill-toolbar-template">
        <span class="ql-formats">
            <select class="ql-header" title="{{textEditor.titles.header}}">
                <option value="1">{{textEditor.header.h1}}</option>
                <option value="2">{{textEditor.header.h2}}</option>
                <option value="3">{{textEditor.header.h3}}</option>
                <option selected>{{textEditor.header.normal}}</option>
            </select>
        </span>

        <span class="ql-formats">
            <button class="ql-bold" title="{{textEditor.titles.bold}}"></button>
            <button class="ql-italic" title="{{textEditor.titles.italic}}"></button>
            <button class="ql-underline" title="{{textEditor.titles.underline}}"></button>
            <button class="ql-strike" title="{{textEditor.titles.strike}}"></button>
        </span>

        <span class="ql-formats">
            <button class="ql-list" value="ordered" title="{{textEditor.titles.ol}}"></button>
            <button class="ql-list" value="bullet" title="{{textEditor.titles.ul}}"></button>
        </span>

        <span class="ql-formats">
            <button class="ql-link" title="{{textEditor.titles.link}}"></button>
            <button class="ql-image" title="{{textEditor.titles.image}}"></button>
            <button class="ql-video" title="{{textEditor.titles.video}}"></button>
        </span>

        <span class="ql-formats">
            <button class="ql-blockquote" title="{{textEditor.titles.blockquote}}"></button>
        </span>

        <span class="ql-formats">
            <button class="ql-clean" title="{{textEditor.titles.clean}}"></button>
        </span>
    </div>
</div>
