<h1>{{newPageHeader}}</h1>
<div class="horizontal wide-spacing">
    <div id="new-page-contents">
        <div class="row">
            <div class="column" data-type="">
                <select class="column-select" data-hover="init">
                    <option value="none">{{chooseColumn}}</option>
                    {{#columnTypes}}
                    <option value="{{id}}">{{name}}</option>
                    <option value="2{{id}}">2x {{name}}</option>
                    {{/columnTypes}}
                </select>
            </div>
            <div class="column" data-type="">
                <select class="column-select" data-hover="init">
                    <option value="none">{{chooseColumn}}</option>
                    {{#columnTypes}}
                    <option value="{{id}}">{{name}}</option>
                    <option value="2{{id}}">2x {{name}}</option>
                    {{/columnTypes}}
                </select>
            </div>
        </div>
    </div>
    <div id="new-page-settings">
        
    </div>
</div>
<div class="hide">
    <div id="row-template">
        <div class="row">
            <div class="column" data-type="">
                <select class="column-select" data-hover="init">
                    <option value="none">{{chooseColumn}}</option>
                    {{#columnTypes}}
                    <option value="{{id}}">{{name}}</option>
                    <option value="2{{id}}">2x {{name}}</option>
                    {{/columnTypes}}
                </select>
            </div>
            <div class="column" data-type="">
                <select class="column-select" data-hover="init">
                    <option value="none">{{chooseColumn}}</option>
                    {{#columnTypes}}
                    <option value="{{id}}">{{name}}</option>
                    <option value="2{{id}}">2x {{name}}</option>
                    {{/columnTypes}}
                </select>
            </div>
        </div>
    </div>
</div>
