<h1>{{pagesHeader}}</h1>
<div class="spacing">
    <button data-href="{{&subsiteURL}}/{{&urls.admin.contentNewPage}}"><i class="material-icons small-icon">note_add</i><span>{{newPage}}</span></button>
</div>
<table class="overview-table" id="pages-table">
    <thead>
        <tr>
            <th>{{head.name}}</th>
            <th>{{head.created}}</th>
            <th>{{head.revision}}</th>
            <th>{{head.title}}</th>
            <th>{{head.changes}}</th>
            <th colspan="3">{{head.actions}}</th>
        </tr>
    </thead>
    <tbody>
        {{#data}}
        <tr data-id="{{id}}">
            <td>{{name}}</td>
            <td>{{&created}}</td>
            <td>{{&revision}}</td>
            <td>{{title}}</td>
            <td>{{changes}}</td>
            <td><button data-pages-action="preview"      title="{{head.preview}}">     <i class="material-icons small-icon">pageview</i></button></td>
            <td><button data-pages-action="pickRevision" title="{{head.pickRevision}}"><i class="material-icons small-icon">history</i></button></td>
            <td><button data-pages-action="urls"         title="{{head.urls}}">        <i class="material-icons small-icon">dns</i></button></td>
            <td><button data-pages-action="edit"         title="{{head.edit}}">        <i class="material-icons small-icon">mode_edit</i></button></td>
            <td><button data-pages-action="delete"       title="{{head.delete}}">      <i class="material-icons small-icon">delete</i></button></td>
        </tr>
        {{/data}}
        {{^data}}
        <tr class="no-data">
            <td colspan="8">{{noPages}}</td>
        </tr>
        {{/data}}
    </tbody>
</table>
<div class="modal-content">
    <div id="edit-modal">
        <p>{{modal.editText}}</p>
        <select data-value></select>
        <p class="footer">
            <button class="cancel">{{modal.buttons.cancel}}</button>
            <button class="ok">{{modal.buttons.edit}}</button>
        </p>
    </div>
</div>
<script>var jsonData = {{&jsonData}};</script>
