<h1>{{pagesHeader}}</h1>
<div class="spacing">
    <button data-href="{{&subsiteURL}}/{{&urls.admin.contentNewPage}}"><i class="material-icons small-icon">note_add</i><span>{{newPage}}</span></button>
</div>
