<section class="left-bar full-height">
    <ul class="vmenu">
        <li><a href="{{&subsiteURL}}">{{menu.dashboard}}</a></li>
        <li>
            <span>{{menu.aboutYou.main}}</span>
            <ul>
                <li><a href="{{&subsiteURL}}/{{&urls.admin.profile}}">{{menu.aboutYou.profileSettings}}</a></li>
            </ul>
        </li>
        <li>
            <span>{{menu.aboutSite.main}}</span>
            <ul>
                <li><a href="{{&subsiteURL}}/{{&urls.admin.siteGeneral}}">{{menu.aboutSite.general}}</a></li>
                <li><a href="{{&subsiteURL}}/{{&urls.admin.siteStatistics}}">{{menu.aboutSite.statistics}}</a></li>
            </ul>
        </li>
        <li>
            <span>{{menu.siteContent.main}}</span>
            <ul>
                <li><a href="{{&subsiteURL}}/{{&urls.admin.contentMenu}}">{{menu.siteContent.menu}}</a></li>
                <li><a href="{{&subsiteURL}}/{{&urls.admin.contentPages}}">{{menu.siteContent.pages}}</a></li>
            </ul>
        </li>
        {{#isAdmin}}
        <li>
            <span>{{menu.admin.main}}</span>
            <ul>
                <li><a href="{{&subsiteURL}}/{{&urls.admin.users}}">{{menu.admin.users}}</a></li>
            </ul>
        </li>
        {{/isAdmin}}
    </ul>
</section>
<section class="full-height">{{&main}}</section>
