<h1>{{usersHeader}}</h1>
<div class="spacing">
    <button data-href="{{&subsiteURL}}/{{&urls.admin.newUser}}"><i class="material-icons small-icon">person_add</i><span>{{newUser}}</span></button>
</div>
<table class="overview-table" id="users-table">
    <thead>
        <tr>
            <th>{{head.id}}</th>
            <th></th>
            <th>{{head.username}}</th>
            <th>{{head.name}}</th>
            <th>{{head.nickname}}</th>
            <th>{{head.email}}</th>
            <th>{{head.phoneNumber}}</th>
            <th>{{head.role}}</th>
            <th colspan="2">{{head.actions}}</th>
        </tr>
    </thead>
    <tbody>
        {{#data}}
        <tr>
            <td>{{id}}</td>
            <td title="{{#isAdmin}}{{head.isAdmin}}{{/isAdmin}}{{^isAdmin}}{{head.isNotAdmin}}{{/isAdmin}}" data-value="{{level}}" data-users-action="admin" class="clickable"><i class="material-icons">{{#isAdmin}}stars{{/isAdmin}}{{^isAdmin}}account_circle{{/isAdmin}}</i></td>
            <td data-name="username" data-users-action="username" class="clickable">{{username}}</td>
            <td data-users-action="name" class="clickable" data-full-name="{{name}}" data-surname="{{surname}}">{{&fullName}}</td>
            <td data-users-action="nickname" class="clickable">{{nickname}}</td>
            <td data-users-action="email" class="clickable">{{email}}</td>
            <td data-users-action="phone" class="clickable" data-phone-code="{{phoneCode}}" data-phone="{{phoneNumberLocal}}{{^phoneNumberLocal}}{{phoneNumber}}{{/phoneNumberLocal}}">{{phoneNumberFormatted}}</td>
            <td data-users-action="role" class="clickable">{{&role}}</td>
            <td><button data-users-action="reset" title="{{head.resetPassword}}"><i class="material-icons small-icon">settings_backup_restore</i><span>{{resetPassword}}</span></button></td>
            <td><button data-users-action="delete" title="{{head.delete}}"><i class="material-icons small-icon">delete</i><span>{{delete}}</span></button></td>
        </tr>
        {{/data}}
        {{^data}}
        <tr class="no-data">
            <td colspan="9">{{noUsers}}</td>
        </tr>
        {{/data}}
    </tbody>
</table>
<div class="modal-content">
    <div id="delete-modal">
        <p>{{modal.deleteConfirm}}</p>
        <p class="footer">
            <button class="cancel">{{modal.buttons.no}}</button>
            <button class="ok">{{modal.buttons.yes}}</button>
        </p>
    </div>
    <div id="reset-modal">
        <p>{{modal.resetConfirm}}</p>
        <p class="footer">
            <button class="cancel">{{modal.buttons.no}}</button>
            <button class="ok">{{modal.buttons.yes}}</button>
        </p>
    </div>
    <div id="new-pass-modal">
        <p>{{modal.newPass}}</p>
    </div>
    <div id="role-modal">
        <textarea style="width: 500px; height: 200px;" data-value>%s</textarea>
        <p class="footer">
            <button class="cancel">{{modal.buttons.cancel}}</button>
            <button class="ok">{{modal.buttons.save}}</button>
        </p>
    </div>
    <div id="phone-modal">
        +<input class="phone-code" value="%s$1" maxlength="2" data-value> <input value="%s$2" data-value>
        <p class="footer">
            <button class="cancel">{{modal.buttons.cancel}}</button>
            <button class="ok">{{modal.buttons.save}}</button>
        </p>
    </div>
    <div id="email-modal">
        <input value="%s" data-value>
        <p class="footer">
            <button class="cancel">{{modal.buttons.cancel}}</button>
            <button class="ok">{{modal.buttons.save}}</button>
        </p>
    </div>
    <div id="nickname-modal">
        <input value="%s" data-value>
        <p class="footer">
            <button class="cancel">{{modal.buttons.cancel}}</button>
            <button class="ok">{{modal.buttons.save}}</button>
        </p>
    </div>
    <div id="username-modal">
        <input value="%s" data-value>
        <p class="footer">
            <button class="cancel">{{modal.buttons.cancel}}</button>
            <button class="ok">{{modal.buttons.save}}</button>
        </p>
    </div>
    <div id="admin0-modal">
        <p>{{modal.makeAdminConfirm}}</p>
        <p class="footer">
            <button class="cancel">{{modal.buttons.no}}</button>
            <button class="ok">{{modal.buttons.yes}}</button>
        </p>
    </div>
    <div id="admin1-modal">
        <p>{{modal.revokeAdminConfirm}}</p>
        <p class="footer">
            <button class="cancel">{{modal.buttons.no}}</button>
            <button class="ok">{{modal.buttons.yes}}</button>
        </p>
    </div>
    <div id="name-modal">
        {{head.name}}: <input value="%s$1" data-value> <br>
        {{head.surname}}: <input value="%s$2" data-value>
        <p class="footer">
            <button class="cancel">{{modal.buttons.cancel}}</button>
            <button class="ok">{{modal.buttons.save}}</button>
        </p>
    </div>
</div>
