<!DOCTYPE html>
<html lang="{{locale}}">
    <head>
        <!--
        Copyright (C) 2017 Mia Nordentoft, Metilo contributors

        This file is part of Metilo.

        Metilo is free software: you can redistribute it and/or modify
        it under the terms of the GNU General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        Metilo is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
        GNU General Public License for more details.

        You should have received a copy of the GNU General Public License
        along with Metilo. If not, see <http://www.gnu.org/licenses/>.
        -->
        <title>{{title}} | {{siteName}}</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="/assets/css/main/global.css?v={{metiloVersion}}">
        <link rel="icon" type="image/png" href="/assets/img/favicon.png">
        {{#includeStyles}}
        <link rel="stylesheet" href="{{&.}}">
        {{/includeStyles}}
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta property="og:type" content="website">
        <meta http-equiv="content-language" content="{{locale}}">
        {{#analyticsID}}
        <script async src="https://www.googletagmanager.com/gtag/js?id={{.}}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', '{{.}}');
        </script>
        {{/analyticsID}}
    </head>
    <body data-subsite="{{subsite}}">
        <div id="main-wrapper">
            <header>
                <div>
                    <a id="logo-box" href="{{&subsiteURL}}"></a>
                </div>
                <div>
                    {{^hideLanguage}}
                    <select id="select-language">
                        {{#locales}}
                        <option value="{{code}}" {{#active}}selected{{/active}}>{{name}}</option>
                        {{/locales}}
                    </select>
                    {{/hideLanguage}}
                    <nav id="menu">
                        <ul>
                            {{#menu}}
                            {{> main/menu-item}}
                            {{/menu}}
                        </ul>
                    </nav>
                    {{#hasSubmenu}}
                    <nav id="submenu">
                        <ul>
                            {{#submenu}}
                            {{> main/menu-item}}
                            {{/submenu}}
                        </ul>
                    </nav>
                    {{/hasSubmenu}}
                </div>
            </header>
            <main>
                <section id="page-content">{{&main}}</section>
            </main>
            {{#showPreviewText}}
            <div id="preview-box">
                <div><b>{{boxHeader}}</b><i title="{{closeBox}}" class="material-icons">close</i></div>
                <p>{{notice}}</p>
                <p>{{closeText}}</p>
            </div>
            {{/showPreviewText}}
        </div>
        <footer>{{&copyright.local}}—{{&copyright.metilo}}</footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js"></script>
        <script src="/assets/js/main/global.js?v={{metiloVersion}}"></script>
        <script>C.baseURL = "{{&subsiteURL}}";</script>
        {{#includeScripts}}
        <script src="{{&.}}"></script>
        {{/includeScripts}}
    </body>
</html>
